<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="project365"/>
    <add key="password" value=""/>
    <add key="site" value="project365.thepotters.org"/>
    <!--<add key="authorization" value="Q8KsA(vEvmDs&ZCO(HI%C0i@KYh%qiXSNtbBpl0hoAFIQwXIXfXkSrVxFaKD86v5" />  -->
  </appSettings>
</configuration>